<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Leansw SSO Server</title>
    <link rel="stylesheet" href="../css/wro.css" th:href="@{/css/wro.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="login-panel">
<div class="container">
    <div class="graphic-dialog">
        <h2>Leansw OSS Login</h2>
        <form role="form" action="login" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
<script src="../js/wro.js" type="text/javascript" th:src="@{/js/wro.js}"></script>
</body>
</html>